---
---

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

/* Reduce spacing after hero image */
.page__hero--overlay {
  padding: 3em 0 1em 0;
  margin-bottom: 1em;
}

.page__hero--overlay + #main .page__content {
  margin-top: 0;
}

.page__hero--overlay + #main h2:first-of-type {
  margin-top: 0;
}
